body {
  background-color: #FEF7DC;
  color: rgb(0, 0, 0);
}

header {
  background-color: #A19882;
  color: rgb(0, 0, 0);
  display: flex;
  justify-content: space-around;
  padding: 15px 0px;
  text-align: center;
  width: 100%;
}

#search-input {
  margin: 2px;
  padding: 5px;
}

#search-button {
  padding: 5px;
}

.link-cart {
  color: rgba(0, 0, 0, 0.904);
  font-size: xx-large;
}

.link-cart:hover {
  color: rgba(0, 0, 0, 0.603);
}

.container {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  width: auto;
}

.categories {
  border: 1px solid black;
  margin-top: 10px;
  width: 30%;
}

.products {
  border: 1px solid black;
  display: flex;
  flex-flow: row wrap;
  right: auto;
  width: 70%;
}

.card-product {
  border: 1px solid rgba(0, 0, 0, 0.383);
  border-radius: 4px;
  display: flex;
  flex-flow: column;
  margin: 5px;
  padding: 10px;
  width: 25%;
}


